body > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 99.4%;
    border-radius: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body > h1 {
    text-align: center;
    color: #333;
    border-top: 10px solid #333;
    border-bottom: 10px solid #333;
    border-radius: 1px;
    border-radius: 10px;
    text-shadow: darkgrey 2px 2px 2px;
}

dd {

}

dt {
  font-weight: bold;
  text-decoration: underline;
}

body {
  text-align: center;
}

img {
  border-radius: 100px;
  border: 10px solid #333;
  border-color:  black;
}

dd > ul {
list-style-type: circle;
margin-left: 40%;
}

dd > ul >li{
list-style-type: circle;
clear: both;
}

h2 {
  text-decoration: underline;
  text-decoration-style: double;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
